<div class="container">
  <skill class="skill">
    RxJS
  </skill>
  <skill class="skill">
    Angular
  </skill>
  <skill class="skill">
    React
  </skill>
  <skill class="skill">
    MobX
  </skill>
  <skill class="skill">
    GreenSock
  </skill>
</div>

<!--skill class="skill" height="10" width="10" [style.margin-left]="'-10em'" [style.margin-top]="'-10em'">
  Nginx
</skill>
<skill class="skill" height="10" width="10" [style.margin-left]="'-10em'" [style.margin-top]="'-10em'">
  Flask
</skill>
<skill class="skill" height="10" width="10" [style.margin-left]="'-10em'" [style.margin-top]="'-10em'">
  Сelery
</skill>
<skill class="skill" height="10" width="10" [style.margin-left]="'-10em'" [style.margin-top]="'-10em'">
  Redis
</skill>
<skill class="skill" height="10" width="10" [style.margin-left]="'-10em'" [style.margin-top]="'-10em'">
  BoostPython
</skill>
<skill class="skill" height="10" width="10" [style.margin-left]="'-10em'" [style.margin-top]="'-10em'">
  Qt
</skill-->

